ace_tools
annotated-types
appnope
asttokens
backoff
beautifulsoup4
blis
catalogue
certifi
charset-normalizer
click
cloudpathlib
comm
confection
contourpy
cycler
cymem
debugpy
decorator
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
executing
filelock
fonttools
fsspec
greenlet
huggingface-hub
idna
ipykernel
ipython
ipywidgets
jedi
Jinja2
jmespath
joblib
jupyter_client
jupyter_core
jupyterlab_widgets
kiwisolver
langcodes
langdetect
language_data
loguru
lxml
marisa-trie
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mpmath
murmurhash
nest-asyncio
networkx
nltk
numpy
oauthlib
packaging
pandas
parso
pexpect
pillow
platformdirs
playwright=
praw
prawcore
preshed
prompt_toolkit
psutil
ptyprocess
pure-eval
pydantic
pydantic_core
pyee
Pygments
pyparsing
PySocks
python-dateutil
pytz
PyYAML
pyzmq
regex
requests
requests-oauthlib
rich
safetensors
scipy
scrapfly-sdk
seaborn
shellingham
six
smart-open
snscrape
soupsieve
spacy
spacy-legacy
spacy-loggers
srsly
stack-data
sympy
textblob
thinc
tokenizers
torch
tornado
tqdm=
traitlets
transformers
tweepy
typer
typing_extensions
tzdata
update-checker
urllib3
vaderSentiment
wasabi
wcwidth
weasel
websocket-client
widgetsnbextension
wordcloud
wrapt